.profile{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(182, 175, 175);
    padding: 50px;
}
.description{
    padding: 20px;
    background-color: rgb(235, 235, 225);
}
.avatar{
    width: 150px;
    border-radius: 50%;
    border: 2px solid  rgb(182, 175, 175);
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size:xx-large;
}
.tag, .location{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: large;
    color: rgb(141, 136, 136);
}

.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    border-right: 2px solid rgb(182, 175, 175);
    align-items: center;
    padding: 10px;
 
}
.item:last-child{
    border-right: none;

}
.stats{
    display: flex; 
    list-style: none;
    background-color: rgb(235, 235, 225) ;
    border: 1px solid  rgb(182, 175, 175);
    margin: 0;
    padding: 0;
}
.label{
    color: rgb(141, 136, 136);
    font-weight: 500;
}
.quantity{
    font-weight: 600;
}
